* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    background-image: linear-gradient(45deg, #b3282f, #6b3074);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leaderboard {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 99999;

}

#mainBox {
    width: 60%;
    height: 60%;
    background-color: white;
    display: flex;
    position: relative;

}

.player {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ad6e8d;


}

.active {
    background-color: #d9a3b0;
}


.detailsAndTotalScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsAndTotalScore h3 {
    font-size: 40px;
}

.detailsAndTotalScore h1 {
    font-size: 100px;
}

.turnScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background-color: #bf2e57;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

#centerArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    background-color: #f6f0f0;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
}

#leaderBoardDiv {
    width: 60%;
}

ul {
    width: 100%;
    border-radius: 20px;
}


ul li {
    width: 100%;
    list-style: none;
    background-color: #b3282f;
    font-size: 20px;
    border: 2px solid black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: relative;
    padding: 12px 35px;
    background: #fec195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #fec195;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
}

button:hover {
    background: transparent;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.fil0 {
    fill: #fffdef;
}

#leaderBoardModal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal {
    background-color: white;
    /* background-color: rgba(61, 67, 67, 0.404); */
    width: 60%;
    height: 60%;
    /* backdrop-filter: blur(15px); */
    /* opacity: 0.7; */
    /* filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    border-radius: 40px; */ 
}

.modalOff {
    display: none !important;
}